.about-skill-item {
  width: calc(33.333333% - 40px);
  border-top: 3px #45ff95 solid;
  background-color: #1a1a1a;
  margin: 50px 20px;
  color: #ccc;
  font-size: 15px;
  padding: 20px;
  height: max-content;
}
.about-skill-item:nth-child(2) {
  margin-top: 70px;
}
.about-skill-title {
  width: 100%;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.about-skill-title:first-child {
  margin-top: 0;
}
.about-skill-item-list {
  width: 100%;
  position: relative;
}
.about-skill-item-list li {
  width: 100%;
  margin-left: 90px;
}
.about-skill-item-list p {
  width: 100%;
  text-align: left;
  font-size: 15px;
  margin-bottom: 10px;
}
.education {
  width: 100%;
  margin-top: 50px;
}
.education-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #45ff95;
}
.education-icon .icon {
  font-size: 18px;
}
.education-line {
  width: 1px;
  height: calc(100% - 40px);
  background-color: #ccc;
}
.education-item-right {
  flex-grow: 1;
  height: 100px;
  margin-left: 50px;
  justify-content: space-between;
}
.education-time {
  color: #ccc;
  font-weight: bold;
  font-size: 12px;
  width: max-content;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #1a1a1a;
}
.education-text {
  color: #fff;
  margin-bottom: 5px;
}
.education-text-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.education-text-title p:first-child {
  margin-right: 5px;
}
.education-text-title p:last-child {
  font-weight: normal;
  color: #ccc;
}
.education-text-small {
  font-size: 14px;
  color: #ccc;
}

@media (max-width: 1000px) {
  .about-skill-item {
    width: calc(50% - 40px);
    margin-bottom: 0;
  }
  .about-skill-item:nth-child(2) {
    margin-top: 50px;
  }
}
@media (max-width: 850px) {
  .education-text-title {
    flex-direction: column;
  }
  .education-time {
    margin-bottom: 20px;
  }
  .education-item-right {
    height: max-content;
    margin-left: 20px;
  }
}
@media (max-width: 750px) {
  .about-skill-item {
    width: 100%;
    margin: 0;
    margin-top: 50px;
  }
  .about-skill-title {
    text-align: center;
  }
  .about-skill-item-list li {
    margin: 0;
    width: max-content;
    list-style-type: none;
  }
  .about-skill-item-list {
    justify-content: center;
  }
  .education {
    margin-bottom: 60px !important;
  }
}

@media (max-width: 450px) {
  .about-skill-item {
    padding: 10px;
  }
  .about-skill-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
