.Home_hide {
  transform: translateY(-1000px);
}
.Home_show {
  opacity: 1;
  visibility: visible;
}
.home-line {
  width: 100%;
  height: 100%;
  position: fixed;
}
.home-line-item {
  height: 100%;
  width: 25%;
  position: relative;
}
.home-line-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.07);
  transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
}
.home-line-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #171717;
  background-color: red;
  transition: height 0.65s cubic-bezier(0.165, 0.85, 0.45, 1) 0s;
  z-index: 9;
}
.home-line-item:nth-child(odd):after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.translate-height:after {
  animation-direction: reverse;
  height: 0 !important;
}

.home-intro {
  position: absolute;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding: 0 50px;
  padding-bottom: 40px;
}
.home-contact {
  font-size: 14px;
  justify-content: flex-end;
  width: max-content;
  font-weight: 300;
  color: #bbb;
}
.home-contact p {
  margin: 5px 0;
}

.home-fl {
  position: fixed;
  right: 50px;
  bottom: 40px;
  width: 20px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.home-fl-text {
  font-weight: 300;
  color: #bbb;
  font-size: 14px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
.home-fl-line {
  margin: 20px 0;
  width: 1px;
  height: 50px;
  background-color: #fff;
}
.home-fl-item {
  color: #bbb;
  margin: 15px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.home-fl-item:last-child {
  margin-bottom: 0;
}
.home-fl-item:hover {
  color: #4bffa5;
}
.Cursor--blinking {
  display: none !important;
}

@media only screen and (max-width: 1100px) {
  .home-contact {
    display: none !important;
  }
}

@media only screen and (max-width: 850px) {
  .home-fl {
    bottom: 34px;
    right: 30px;
  }
  .home-fl-text,
  .home-fl-line {
    display: none;
  }
}

@media (max-width: 700px) {
  .home-line-item {
    width: 33.3333333%;
  }
  .home-line-item:nth-child(2),
  .home-line-item:nth-child(5) {
    display: none;
  }
}
@media (max-width: 650px) {
  .home-fl {
    right: 20px;
    bottom: 27px;
  }
  .home-intro {
    padding-left: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-device-width: 1199px) and (min-device-width: 319px) and (max-device-height: 500px) and (orientation: landscape) {
  .home-intro {
    display: none !important;
  }
  .home-intro {
    display: none;
  }

  .home-fl {
    bottom: 34px;
  }
  .home-fl-text,
  .home-fl-line {
    display: none;
  }
}
